.rbc-calendar {
  margin-top: 20px;
}

.rbc-event {
  background-color: #73C8F9;
  color: #24242C;
}

.rbc-time-view {
  border: none;
}

.rbc-time-gutter .rbc-time-column {
  border: none;
  width: 100px;
}

.rbc-label {
  margin-left: 10px;
  position: relative;
  top: -10px;
}

.rbc-events-container{
  // width: 90%;
  // margin: 5px;
  border: none;
}

.rbc-event-label {
  display: none;
}

.rbc-time-content > .rbc-time-gutter {
  width: 80px;
}

// .rbc-time-content > * + * > * {
//   border: none;
// }

.rbc-day-slot .rbc-event {
  border: none;
}

// .rbc-day-slot .rbc-time-slot {
//   min-height: 0px;
//   height: 0px;
//   max-height: 20px;
// }

// .rbc-timeslot-group .rbc-time-slot{
//   height: 2px;
//   min-height: 2px;
// }

// .rbc-time-column .rbc-timeslot-group {
//   flex: 1 1;
//   height: 20px;
//   max-height: 20px;
// }

.rbc-time-content {
  border: none;
}

.rbc-timeslot-group {
  // width: 50px;
  height: 85px;
}

.rbc-day-slot .rbc-time-slot {
  min-height: 20px;
  border-top: none;
}

.rbc-time-gutter > .rbc-timeslot-group {
  border: none;
  color: #B6B6B6;
}

.rbc-time-slot .rbc-label {
  // margin-top: 20px;

}

.rbc-allday-cell {
  display: none;
}

.rbc-time-view .rbc-row {
  box-sizing: border-box;
  min-height: 74px;
}

.rbc-header {
  border: none;
}

.rbc-header + .rbc-header {
  border: none;
}

.rbc-time-header .rbc-overflowing {
  border: none;
}

.rbc-time-header-content {
  border: none;
}

.rbc-current-time-indicator {
  display: none;
}

.rbc-time-header {
  display: none;
}